accelerate==0.29.3
datasets==2.14.5
deepspeed==0.10.3
einops==0.8.0
evaluate==0.4.0
fire==0.5.0
gradio==3.50.2
gradio_client==0.6.1
librosa==0.10.1
nemo_text_processing==0.3.0rc0
omegaconf==2.3.0
pandas==2.2.2
peft==0.5.0
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentencepiece==0.2.0
soundfile==0.12.1
tiktoken==0.6.0
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.32.0